
@model List<Ecommerce_MVC_Core.Models.Admin.Product>

<a data-toggle="modal" asp-controller="product" asp-action="EditProduct" data-target="#modal-EditProduct" id="AddProductbtn" style="float:right; margin-right: 2%;">
  <button type="button" class="btn btn-success" style="width: 200px;">Add</button>
</a>

<div style="margin-left: 2%; margin-right: 2%; margin-top: 5%">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th class="col-2">#</th>
      <th class="col-2">Name</th>
      <th class="col-4">Description</th>
      <th class="col-2">Price</th>
      <th class="col-1">Edit</th>
      <th class="col-1">Delete</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model) {
    <tr>
        <td>
          @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
          <a data-toggle="modal" asp-route-id="@item.Id" asp-controller="product" asp-action="EditProduct" data-target="#modal-EditProduct" class="EditProductbtn">
            <button  type="button" class="btn btn-secondary ">Edit</button>
          </a>
        </td>
        <td>
          <a asp-controller="product" asp-action="DeleteProduct" asp-route-id="@item.Id">
            <button  type="button" class="btn btn-danger">Delete</button>
          </a>
        </td>    
    </tr>
}
  </tbody>
</table>
</div>

@Html.Partial("_Modal", new BootstrapModel { ID = "modal-EditProduct", AreaLabeledId = "EditProduct", Size = ModalSize.Large })

<script>
    $('.EditProductbtn').on('click', function (e) {
        e.preventDefault();
        $('#modal-EditProduct').addClass("show");
    })
    $('#AddProductbtn').on('click', function (e) {
        e.preventDefault();
        $('#modal-EditProduct').addClass("show");
    })
</script>