@model Ecommerce_MVC_Core.ViewModel.Public.HomePage
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";

    var categories = ViewBag.categories as ICollection<Ecommerce_MVC_Core.Models.Admin.Category>;
    var Products = ViewBag.products as ICollection<Ecommerce_MVC_Core.ViewModel.ProductViewModel>;

    var Tags = ViewBag.Tags as Dictionary<string, string>;
}
<style>
    #ImagesInstagram .wrap-pic-w img{
        height: 380.594px
    }
</style>
<script src="~/Template/public/js/jquery.instagramFeed.js"></script>
<!-- Slide1 -->
<section class="slide1">

    <div class="wrap-slick1">
        <div class="slick1">

            <div class="item-slick1 item1-slick1" style="background: url(uploads/Images/Image1_Banner1.jpg) no-repeat center top fixed;">
                <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170" style="background-color: rgba(95, 95, 95, 0.59)">
                    <h2 class="caption1-slide1 xl-text2 t-center  p-b-6 animated visible-false m-b-22" data-appear="fadeInUp">
                        @Tags.FirstOrDefault(x => x.Key == "#Title_Banner1").Value
                    </h2>

                    <span class="caption2-slide1 m-text1 t-center animated visible-false m-b-33" data-appear="fadeInDown">
                        <p>@Tags.FirstOrDefault(x => x.Key == "#SubTitle_Banner1").Value</p>
                    </span>

                    <div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="zoomIn">
                    </div>
                </div>
            </div>

            <div class="item-slick1 item2-slick1" style="background: url(uploads/Images/Image2_Banner1.jpg) no-repeat center center fixed;">
                <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170" style="background-color:rgba(95, 95, 95, 0.59)">
                </div>
            </div>

            <div class="item-slick1 item2-slick1" style="background: url(uploads/Images/Image3_Banner1.jpg) no-repeat center center fixed;">
                <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170" style="background-color:rgba(95, 95, 95, 0.59)">
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Banner -->
<div class="banner bgwhite p-t-40 p-b-40">
    <div class="container">
        <div class="sec-title p-b-52 p-l-15 p-r-15">
            <h3 class="m-text5 t-center" style="text-transform: uppercase;">
            </h3>
        </div>
        <div class="row">
            @if (categories != null)
            {
                @foreach (var item in categories)
                {
                    <div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto">
                        <!-- block1 -->
                        <div class="block1 hov-img-zoom pos-relative m-b-30">
                            <img src="@item.Image_Path" alt="IMG-BENNER" class=" w-370 h-339" style="width:370px;height:339px">

                            <div class="block1-wrapbtn w-size2">
                                <!-- Button -->
                                <a asp-controller="Home" asp-action="Category" asp-route-cat="@item.Id" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4 names-ToUpper">
                                    @item.Name
                                </a>
                            </div>
                        </div>
                    </div>
                }
            }



        </div>
    </div>
</div>

<section class="newproduct bgwhite p-t-45 p-b-105">
    <div class="container">
        <div class="sec-title p-b-60">
            <h3 class="m-text5 t-center">
                @Tags.FirstOrDefault(x => x.Key == "#Title_Products").Value
            </h3>
        </div>
        <div class="tab01">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                @if (categories != null)
                {
                    @foreach (var item in categories)
                    {
                        <li class="nav-item">
                            <a class="nav-link names-ToUpper" data-toggle="tab" href="#@item.Name" role="tab" style="">@item.Name</a>
                        </li>
                    }
                }


            </ul>

            <!-- Tab panes -->
            <div class="tab-content p-t-35">
                <!-- - -->
                <div class="tab-pane fade show active" id="best-seller" role="tabpanel">
                    <div class="row">
                        @foreach (var item in Products)
                        {
                            <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
                                <!-- Block2 -->

                                <div class="block2">
                                    <div class="block2-img wrap-pic-w of-hidden pos-relative @(item.IsNew == true ? "block2-labelnew" : item.HaveStock == true  ? " " : "block2-labelsale")">
                                        <img src="@item.ImagePath" alt="IMG-PRODUCT">

                                        <div class="block2-overlay trans-0-4">

                                            <div class="block2-btn-addcart w-size1 trans-0-4">
                                                <!-- Button -->
                                                <a asp-controller="Home" asp-action="ProductDetails" asp-route-product="@item.Id" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                                                    Comprar
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="block2-txt p-t-20">
                                        <a asp-controller="Home" asp-action="ProductDetails" asp-route-product="@item.Id" class="block2-name dis-block s-text3 p-b-5 ">
                                            @item.Name
                                        </a>

                                        @if (item.Discount > 0)
                                        {
                                            <span class="block2-oldprice  m-text7 p-r-5">
                                                @item.Price €
                                            </span>
                                            <span class=" block2-newprice  m-text8 p-r-5" style="font-size:20px">
                                                @item.FinalPrice €
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="m-text17" style="font-size:20px">
                                                @item.Price €
                                            </span>
                                        }
                                    </div>
                                </div>


                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- Banner video -->
<section class="parallax0 parallax100" style="background: url(uploads/Images/Image_Youtube.jpg) no-repeat center center;">
    <div class="overlay0 p-t-190 p-b-200">
        <div class="flex-col-c-m p-l-15 p-r-15">
            <span class="m-text9 p-t-45 fs-20-sm">
                @Tags.FirstOrDefault(x => x.Key == "#Title_Youtube").Value
            </span>

            <h3 class="l-text1 fs-35-sm">
                @Tags.FirstOrDefault(x => x.Key == "#SubTitle_youtube").Value
            </h3>

            <span class="btn-play s-text4 hov5 cs-pointer p-t-25" data-toggle="modal" data-target="#modal-video-01">
                <i class="fa fa-play" aria-hidden="true"></i>
                @Tags.FirstOrDefault(x => x.Key == "#Playvideo_youtube").Value
            </span>
        </div>
    </div>
</section>


<section class="blog bgwhite p-t-94 p-b-65">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-md-4 p-b-30 m-l-r-auto">
                <!-- Block3 -->
                <div class="block3">
                    <div class="block3-img dis-block hov-img-zoom">
                        <img src="uploads/Images/Iamge1_3Images.jpg" alt="IMG-BLOG" style="max-width:370px;width:370px;min-width:370px;max-height:276px;height:276px;min-height:276px;object-fit: cover;">
                    </div>


                </div>
            </div>

            <div class="col-sm-10 col-md-4 p-b-30 m-l-r-auto">
                <!-- Block3 -->
                <div class="block3">
                    <div class="block3-img dis-block hov-img-zoom">
                        <img src="uploads/Images/Iamge2_3Images.jpg" alt="IMG-BLOG" style="max-width:370px;width:370px;min-width:370px;max-height:276px;height:276px;min-height:276px;object-fit: cover;">
                    </div>

                </div>
            </div>

            <div class="col-sm-10 col-md-4 p-b-30 m-l-r-auto">
                <!-- Block3 -->
                <div class="block3">
                    <div class="block3-img dis-block hov-img-zoom">
                        <img src="uploads/Images/Iamge3_3Images.jpg" alt="IMG-BLOG" style="max-width:370px;width:370px;min-width:370px;max-height:276px;height:276px;min-height:276px;object-fit: cover;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Instagram -->
<section class="instagram p-t-20">
    <div class="sec-title p-b-52 p-l-15 p-r-15">
        <h3 class="m-text5 t-center">
            @Tags.FirstOrDefault(x => x.Key == "#Title_instagram").Value
        </h3>
    </div>

    <div id="ImagesInstagram" class="instagram_feed flex-w"></div>


</section>

<!-- Shipping -->
<section class="shipping bgwhite p-t-62 p-b-46">
    <div class="flex-w p-l-15 p-r-15">
        <div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1">
            <h4 class="m-text12 t-center">
                @Tags.FirstOrDefault(x => x.Key == "#Title_info1").Value
            </h4>

            <span href="#" class="s-text11 t-center">
                @Tags.FirstOrDefault(x => x.Key == "#SubTitle_info1").Value
            </span>
        </div>

        <div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 bo2 respon2">
            <h4 class="m-text12 t-center">
                @Tags.FirstOrDefault(x => x.Key == "#Title_info2").Value
            </h4>

            <span class="s-text11 t-center">
                @Tags.FirstOrDefault(x => x.Key == "#SubTitle_info2").Value
            </span>
        </div>

        <div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1">
            <h4 class="m-text12 t-center">
                @Tags.FirstOrDefault(x => x.Key == "#Title_info3").Value
            </h4>

            <span class="s-text11 t-center">
                @Tags.FirstOrDefault(x => x.Key == "#SubTitle_info3").Value
            </span>
        </div>
    </div>
</section>


<!-- Back to top -->
<div class="btn-back-to-top bg0-hov" id="myBtn">
    <span class="symbol-btn-back-to-top">
        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
    </span>
</div>

<!-- Container Selection1 -->
<div id="dropDownSelect1"></div>

<!-- Modal Video 01-->
<div class="modal fade" id="modal-video-01" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-dialog" role="document" data-dismiss="modal">
        <div class="close-mo-video-01 trans-0-4" data-dismiss="modal" aria-label="Close">&times;</div>

        <div class="wrap-video-mo-01" style="height: 490px;">
            <div class="w-full wrap-pic-w op-0-0"><img src="@Tags.FirstOrDefault(x => x.Key == "#Tambvideo_youtube").Value" alt="IMG"></div>
            <div class="video-mo-01">
                <iframe src="@Tags.FirstOrDefault(x => x.Key == "#Linkvideo_youtube").Value" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>


<script>


        $.instagramFeed({
            'username': 'osprimosboy',
            'items': 5,
            'callback': function (data) {
                var data_ = data;
                var output = "";
                var counter = 0;
                $.each(data.edge_owner_to_timeline_media.edges, function (i) {
                    debugger;
                    if(counter == 5) {

                        return false;
                    } else {
                        var dataaux = data.edge_owner_to_timeline_media.edges[i].node;
                        output += " <div class='block4 wrap-pic-w'> <img src='" + dataaux.display_url + "' alt='IMG-INSTAGRAM'>"
                            + "<a href='https://www.instagram.com/p/" + dataaux.shortcode + "' target='_blank' class='block4-overlay sizefull ab-t-l trans-0-4'>"
                            + "<span class='block4-overlay-heart s-text9 flex-m trans-0-4 p-l-40 p-t-25'>"
                            + "<i class='icon_heart_alt fs-20 p-r-12' aria-hidden='true'></i>"
                            + "<span class='p-t-2'>" + dataaux.edge_liked_by.count + " </span>"
                            + "</span>"
                            + "<div class='block4-overlay-txt trans-0-4 p-l-40 p-r-25 p-b-30'>"
                            + "<p class='s-text10 m-b-15 h-size1 of-hidden'>"
                            + "" + dataaux.edge_media_to_caption.edges[0].node.text + ""
                            + "</p>"
                            + "<span class='s-text9'>"
                            + "</span>"
                            + "</div>"
                            + "</a>"
                            + "</div>"
                        counter++;
                    }
                });
            
                $('#ImagesInstagram').html(output);
            }
        });
  

</script>